@import '../../../../scss/sass-variables';

.card {
    margin-top: 20px;

    @media (min-width: $xl) {
        margin-top: 40px;
    }
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
}