
ul.catalog-grid__list
    li.catalog-grid__item
        article.product 
            .badge.badge--black.product__badge new
            .product__favorite
            .product__image
                .product__img 
                    img(src="img/luster-1.png")
                .product__image_buttons
                    ul.product__image--list
                        li.product__image--item
                            button.btn-reset.product__image--favorite
                        li.product__image--item
                            button.btn-reset.product__image--order
            .product__info-wrap
                .product__info-titles
                    h3.product__title Люстра Аrte Lamp Rosaria
                    h4.product__subtitle A8564PL-5RB
                .product__info-price 
                    .product__quantity В наличии: 110 шт.
                    .product__price 88 000 ₽
    li.catalog-grid__item
        article.product 
            .badge.badge--black.product__badge new
            .product__favorite
            .product__image 
                .product__img 
                    img(src="img/luster-2.png")
                .product__image_buttons
                    ul.product__image--list
                        li.product__image--item
                            button.btn-reset.product__image--favorite
                        li.product__image--item
                            button.btn-reset.product__image--order
            .product__info-wrap
                .product__info-titles
                    h3.product__title Люстра Аrte Lamp Rosaria
                    h4.product__subtitle A8564PL-5RB
                .product__info-price 
                    .product__quantity В наличии: 110 шт.
                    .product__price 88 000 ₽
    li.catalog-grid__item
        article.product 
            .badge.badge--black.product__badge new
            .product__favorite
            .product__image 
                .product__img 
                    img(src="img/luster-3.png")
                .product__image_buttons
                    ul.product__image--list
                        li.product__image--item
                            button.btn-reset.product__image--favorite
                        li.product__image--item
                            button.btn-reset.product__image--order
            .product__info-wrap
                .product__info-titles
                    h3.product__title Люстра Аrte Lamp Rosaria
                    h4.product__subtitle A8564PL-5RB
                .product__info-price 
                    .product__quantity В наличии: 110 шт.
                    .product__price 88 000 ₽
    li.catalog-grid__item
        article.product 
            .badge.badge--black.product__badge new
            .product__favorite
            .product__image 
                .product__img 
                    img(src="img/luster-1.png")
                .product__image_buttons
                    ul.product__image--list
                        li.product__image--item
                            button.btn-reset.product__image--favorite
                        li.product__image--item
                            button.btn-reset.product__image--order
            .product__info-wrap
                .product__info-titles
                    h3.product__title Люстра Аrte Lamp Rosaria
                    h4.product__subtitle A8564PL-5RB
                .product__info-price 
                    .product__quantity В наличии: 110 шт.
                    .product__price 88 000 ₽
    li.catalog-grid__item
        article.product 
            .badge.badge--black.product__badge new
            .product__favorite
            .product__image
                .product__img  
                    img(src="img/luster-2.png")
                .product__image_buttons
                    ul.product__image--list
                        li.product__image--item
                            button.btn-reset.product__image--favorite
                        li.product__image--item
                            button.btn-reset.product__image--order
            .product__info-wrap
                .product__info-titles
                    h3.product__title Люстра Аrte Lamp Rosaria
                    h4.product__subtitle A8564PL-5RB
                .product__info-price 
                    .product__quantity В наличии: 110 шт.
                    .product__price 88 000 ₽
    li.catalog-grid__item
        article.product 
            .badge.badge--black.product__badge new
            .product__favorite
            .product__image 
                .product__img 
                    img(src="img/luster-3.png")
                .product__image_buttons
                    ul.product__image--list
                        li.product__image--item
                            button.btn-reset.product__image--favorite
                        li.product__image--item
                            button.btn-reset.product__image--order
            .product__info-wrap
                .product__info-titles
                    h3.product__title Люстра Аrte Lamp Rosaria
                    h4.product__subtitle A8564PL-5RB
                .product__info-price 
                    .product__quantity В наличии: 110 шт.
                    .product__price 88 000 ₽
    li.catalog-grid__item
        article.product 
            .badge.badge--black.product__badge new
            .product__favorite
            .product__image
                .product__img  
                    img(src="img/luster-1.png")
                .product__image_buttons
                    ul.product__image--list
                        li.product__image--item
                            button.btn-reset.product__image--favorite
                        li.product__image--item
                            button.btn-reset.product__image--order
            .product__info-wrap
                .product__info-titles
                    h3.product__title Люстра Аrte Lamp Rosaria
                    h4.product__subtitle A8564PL-5RB
                .product__info-price 
                    .product__quantity В наличии: 110 шт.
                    .product__price 88 000 ₽
    li.catalog-grid__item
        article.product 
            .badge.badge--black.product__badge new
            .product__favorite
            .product__image 
                .product__img 
                    img(src="img/luster-2.png")
                .product__image_buttons
                    ul.product__image--list
                        li.product__image--item
                            button.btn-reset.product__image--favorite
                        li.product__image--item
                            button.btn-reset.product__image--order
            .product__info-wrap
                .product__info-titles
                    h3.product__title Люстра Аrte Lamp Rosaria
                    h4.product__subtitle A8564PL-5RB
                .product__info-price 
                    .product__quantity В наличии: 110 шт.
                    .product__price 88 000 ₽
    li.catalog-grid__item
        article.product
            .badge.badge--black.product__badge new 
            .product__favorite
            .product__image
                .product__img  
                    img(src="img/luster-3.png")
                .product__image_buttons
                    ul.product__image--list
                        li.product__image--item
                            button.btn-reset.product__image--favorite
                        li.product__image--item
                            button.btn-reset.product__image--order
            .product__info-wrap
                .product__info-titles
                    h3.product__title Люстра Аrte Lamp Rosaria
                    h4.product__subtitle A8564PL-5RB
                .product__info-price 
                    .product__quantity В наличии: 110 шт.
                    .product__price 88 000 ₽
    li.catalog-grid__item
        article.product 
            .badge.badge--black.product__badge new
            .product__favorite
            .product__image
                .product__img  
                    img(src="img/luster-1.png")
                .product__image_buttons
                    ul.product__image--list
                        li.product__image--item
                            button.btn-reset.product__image--favorite
                        li.product__image--item
                            button.btn-reset.product__image--order
            .product__info-wrap
                .product__info-titles
                    h3.product__title Люстра Аrte Lamp Rosaria
                    h4.product__subtitle A8564PL-5RB
                .product__info-price 
                    .product__quantity В наличии: 110 шт.
                    .product__price 88 000 ₽
    li.catalog-grid__item
        article.product 
            .badge.badge--black.product__badge new
            .product__favorite
            .product__image
                .product__img  
                    img(src="img/luster-2.png")
                .product__image_buttons
                    ul.product__image--list
                        li.product__image--item
                            button.btn-reset.product__image--favorite
                        li.product__image--item
                            button.btn-reset.product__image--order
            .product__info-wrap
                .product__info-titles
                    h3.product__title Люстра Аrte Lamp Rosaria
                    h4.product__subtitle A8564PL-5RB
                .product__info-price 
                    .product__quantity В наличии: 
                        span 110 шт.
                    .product__price 88 000 ₽
    li.catalog-grid__item
        article.product 
            .badge.badge--black.product__badge new
            .product__favorite
            .product__image
                .product__img  
                    img(src="img/luster-3.png")
                .product__image_buttons
                    ul.product__image--list
                        li.product__image--item
                            button.btn-reset.product__image--favorite
                        li.product__image--item
                            button.btn-reset.product__image--order
            .product__info-wrap
                .product__info-titles
                    h3.product__title Люстра Аrte Lamp Rosaria
                    h4.product__subtitle A8564PL-5RB
                .product__info-price 
                    .product__quantity В наличии: 110 шт.
                    .product__price 88 000 ₽
    include ../pagination/index
    //- section.pagination
    //-     button.default-btn.pagination__main-btn.btn-reset показать больше
    //-     .pagination__btns
    //-         button.btn--white.btn-reset.pagination-btn.pagination-btn--left
    //-         button.btn--white.btn-reset.pagination-btn 1
    //-         button.btn--white.btn-reset.pagination-btn 2
    //-         button.btn--white.btn-reset.pagination-btn 3
    //-         button.btn--white.btn-reset.pagination-btn 4
    //-         button.btn--white.btn-reset.pagination-btn ...
    //-         button.btn--white.btn-reset.pagination-btn 25
    //-         button.btn--white.btn-reset.pagination-btn.pagination-btn--right 