ul.universal-h__list 
    li.universal-h__item.universal-h__item_h1 Потолочная люстра 38 / med  h1
    li.universal-h__item.universal-h__item_h2 Потолочная люстра 34 / med  h2
    li.universal-h__item.universal-h__item_h3 Потолочная люстра 30 / med  h3
    li.universal-h__item.universal-h__item_h4 Потолочная люстра 26 / med  h4
    li.universal-h__item.universal-h__item_h5 Потолочная люстра 22 / med  h5
    li.universal-h__item.universal-h__item_h6 Потолочная люстра 18 / med  h6