section.pagination
    button.default-btn.pagination__main-btn.btn-reset показать больше
    .pagination__btns
        button.btn--white.btn-reset.pagination-btn.pagination-btn--left
        button.btn--white.btn-reset.pagination-btn 1
        button.btn--white.btn-reset.pagination-btn 2
        button.btn--white.btn-reset.pagination-btn 3
        button.btn--white.btn-reset.pagination-btn 4
        button.btn--white.btn-reset.pagination-btn ...
        button.btn--white.btn-reset.pagination-btn 25
        button.btn--white.btn-reset.pagination-btn.pagination-btn--right 
