@import '../../scss/sass-variables';

.catalog {
    margin-top: 20px;

    @media (min-width: $xl) {
        margin-top: 44px;
    }
}

.catalog-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;

    @media (min-width: $xl) {
        flex-direction: row;
    }
}