.footer__btn_wrap
    button.footer__btn.footer-home.btn-reset
    span.footer__text Главная
.footer__btn_wrap
    button.footer__btn.footer-search.btn-reset
    span.footer__text Поиск
.footer__btn_wrap    
    button.footer__btn.footer-order.btn-reset
    span.footer__text Заказы
.footer__btn_wrap
    button.footer__btn.footer-acc.btn-reset
    span.footer__text Аккаунт
