.container
    .footer__content
        .footer__top
            .footer__top_info
                h2.footer__top_title ПОДПИСЫВАЙТЕСЬ В СОЦИАЛЬНЫХ СЕТЯХ
                .footer__top_btns
                    a(src="#!").footer__top_btn.footer__top_btn-vk 
                    a(src="#!").footer__top_btn.footer__top_btn-tg 
            .footer__top_logo
                a(href="#!")
                    img(src="img/InMyRoom.png")
                .footer__top_logo-rates 
                    .footer__top_logo-star
                    .footer__top_logo-star
                    .footer__top_logo-star
                    .footer__top_logo-star
                    .footer__top_logo-star
        .footer__body
            .footer__column 
                h3.footer__column_title LightOpt
                ul.footer__column_list.footer__column_list--address 
                    li.footer__column_item
                        address
                            .footer__column_subtitle Фактический адрес: 
                            a.footer__column_link Россия, 142771, Москва, Нахимовский проспект, д.24, павильон №1, 2 - й этаж, место 97
                    li.footer__column_item
                        .footer__column_subtitle Контактный телефон:
                        a(href="tel:+74959957383").footer__column_link +7 (495) 995-73-83
                    li.footer__column_item
                        .footer__column_subtitle Эксклюзивный дистрибьютор на территории РФ ГК ТЕХНОЛАЙТ
                        a(href="#!").footer__column_link www.technolight.ru
                        a(href="#").footer__column_link www.artelamp.it
            .footer__column 
                h3.footer__column_title ОБ LightOpt
                ul.footer__column_list 
                    li.footer__column_item
                        a(href="#!").footer__column_link О компании
                    li.footer__column_item
                        a(href="#!").footer__column_link Доставка и оплата
                    li.footer__column_item
                        a(href="#!").footer__column_link Условия использования
                    li.footer__column_item
                        a(href="#!").footer__column_link О бренде
            .footer__column 
                h3.footer__column_title ЗАГРУЗКА
                ul.footer__column_list 
                    li.footer__column_item
                        a(href="#!").footer__column_link Каталог LightOpt 2019-2024
                    li.footer__column_item
                        a(href="#!").footer__column_link Технический InStyle 2019-2024
                    li.footer__column_item
                        a(href="#!").footer__column_link 3д модели
                    li.footer__column_item
                        a(href="#!").footer__column_link Сертификаты
        .footer__bottom
            .footer__bottom_text  &copy; 2019—2024 Fandeco.ru. Все права защищены
    //- .footer__btn_wrap
    //-     button.footer__btn.footer-home.btn-reset
    //-     span.footer__text Главная
    //- .footer__btn_wrap
    //-     button.footer__btn.footer-search.btn-reset
    //-     span.footer__text Поиск
    //- .footer__btn_wrap    
    //-     button.footer__btn.footer-order.btn-reset
    //-     span.footer__text Заказы
    //- .footer__btn_wrap
    //-     button.footer__btn.footer-acc.btn-reset
    //-     span.footer__text Аккаунт
