@import '../../scss/sass-variables';

.main-title {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--color-grey);
    padding-top: 10px;
    padding-bottom: 10px;

    @media (min-width: $lg) {
        flex-direction: row;
        align-items: baseline;
        column-gap: 40px;
        padding: 29px 20px;
    }
}

.main-title__title {
    margin: 0;
    font-size: 20px;
    line-height: 19px;
    font-weight: 400;

    @media (min-width: $lg) {
        font-size: 38px;
        line-height: 42px;
        font-weight: 700;
    }
}

.main-title__text-count {
    font-weight: 300;
    font-size: 20px;
    line-height: 19px;
}

// @media (max-width: 768px) {
//     .container__main-title {
//         display: flex;
//         flex-direction: column;
//         padding: 0 10px;
//         gap: 6px;
//     }

//     .main-title__title {
//         font-size: 20px;
//         padding: 0;
//         margin: 0;
//     }

//     .main-title__text-count {
//         margin: 0;
//         font-size: 20px;
//     }

//     .main-title {
//         max-height: max-content;
//         padding: 15px 0;
//     }
// }