@import '../../../../scss/sass-variables';

.universal-list {

    padding-left: 16px;

    @media (min-width: $xl) {
        padding-left: 0;
    }

    &__wrap {
        margin-top: 44px;
        display: flex;
        flex-direction: column;
        row-gap: 27px;

        @media (min-width: $xl) {
            row-gap: 87px;
        }
    }

    &__title {
        font-size: 15px;
        line-height: 38px;
        letter-spacing: -0.1px;

        @media (min-width: $xl) {
            font-size: 18px;
            line-height: 38px;
        }

        &_ordered {
            margin-top: 12px;
        }
    }

    &__list {
        &_two {
            margin-top: 20px;

            @media (min-width: $xl) {
                margin-top: 30px;
            }
        }

        &_simple {
            margin-top: 17px;

            @media (min-width: $xl) {
                margin-top: 2px;
            }
        }

        &_ordered {
            padding-left: 4px;
            margin-top: 2px;

            @media (min-width: $xl) {
                padding-left: 0;
            }
        }
    }

    &__item {
        display: flex;
        align-items: center;
        column-gap: 10px;
        font-size: 14px;
        line-height: 25px;
        padding: 7.5px 0;

        @media (min-width: $xl) {
            font-size: 18px;
            line-height: 25px;
        }

        &_text {
            &-bold {
                font-weight: 700;
            }
        }
    }

    &_ordered {
        @media (min-width: $xl) {
            margin-top: -12px;
        }

        & ol {
            .universal-list__item {
                column-gap: 5px;
            }
        }
    }
}