.universal-list__wrap
    .universal-list
        h3.universal-list__title Маркированный список из 2х позиций
        ul.universal-list__list.universal-list__list_two 
            li.universal-list__item
                span.universal-list__item_text • Стиль 18/reg
                span.universal-list__item_text-bold Morris 18/bold
            li.universal-list__item 
                span.universal-list__item_text • Коллеция
                span.universal-list__item_text-bold Morris
            li.universal-list__item 
                span.universal-list__item_text • Стиль
                span.universal-list__item_text-bold A8564PL-5RB
            li.universal-list__item 
                span.universal-list__item_text • Патрон
                span.universal-list__item_text-bold Morris
    .universal-list
        h3.universal-list__title Маркированный список простой
        ul.universal-list__list.universal-list__list_simple 
            li.universal-list__item
                span.universal-list__item_text • Стиль 18/reg
            li.universal-list__item 
                span.universal-list__item_text • Коллеция
            li.universal-list__item 
                span.universal-list__item_text • Стиль
            li.universal-list__item 
                span.universal-list__item_text • Патрон
    .universal-list.universal-list_ordered
        h3.universal-list__title.universal-list__title_ordered Нумерованный список
        ol.universal-list__list.universal-list__list_ordered 
            li.universal-list__item
                span.universal-list__item_text-bold 1.
                span.universal-list__item_text Стиль 18/reg
            li.universal-list__item 
                span.universal-list__item_text-bold 1.
                span.universal-list__item_text Коллеция
            li.universal-list__item 
                span.universal-list__item_text-bold 1.
                span.universal-list__item_text Стиль
            li.universal-list__item 
                span.universal-list__item_text-bold 1.
                span.universal-list__item_text Патрон