@import '../../scss/sass-variables';

.header__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
}

.header-info {
    align-items: center;
    justify-content: space-between;
    // margin-bottom: 20px;

    &__logo {
        display: flex;
        align-items: center;
        width: 144px;
        height: 43px;
    }

    &__search {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 440px;
        height: 22px;
        border-bottom: 1px solid var(--color-black) !important;

        .header-info__menu-search {
            padding: 16px;
            margin-top: -5px;
            background-image: url(../../img/search-header.svg);
        }
    }

    &__input-text {
        border: none;
        padding: 0;
        margin: 0;
        margin-top: -6px;
        outline: none;
        font-size: 17px;
        letter-spacing: -0.1px;

        &::placeholder {
            color: var(--color-black);
            opacity: 1;
        }
    }

    &__menu {
        align-items: center;
        margin-top: -3px;

        &-item {
            height: 30px;
            line-height: 30px;
        }

        &-item:not(:last-of-type) {
            padding-right: 22px;
            border-right: 1px solid #000;
        }

        &-item:not(:first-of-type) {
            padding-left: 19px;
        }


        &--acc {
            background-image: url(../../img/login.svg);
        }

        &--favorites {
            background-image: url(../../img/full-hearth.svg);
        }

        &--order {
            background-image: url(../../img/order.svg);
        }
    }

    &__btn {
        width: 18px;
        height: 18px;
        background-position: center;
        // background-size: cover;
        background-repeat: no-repeat;
    }


    @media (max-width: 1200px) {

        .header-info__search {
            display: none;
        }
    }



    &__btns {
        & button:not(:first-child) {
            padding: 6px 21px;
            border-left: 1px solid #000;
        }

        & button:first-child {
            padding: 6px 21px 6px 0px;
        }

        & button:last-child {
            display: none;
        }
    }
}

@media (max-width: 1200px) {
    .header-info {
        border-bottom: 1px solid var(--color-gray);
        align-items: center;
    }

    .header-info__btns button:last-child {
        display: inline-block;
    }

    .header-info__btns .order {
        display: none;
    }
}

@media (max-width: 768px) {
    .header-info {
        &__logo img {
            // font-size: 18px;
            display: inline-block;
            max-width: 82px;
        }

        &__menu {
            align-items: center;
            margin-top: -3px;

            &-item {
                height: 30px;
                line-height: 30px;
            }

            &-item:not(:last-of-type) {
                padding-right: 14px;
                border-right: 1px solid #000;
            }

            &-item:not(:first-of-type) {
                padding-left: 24px;
            }
        }
    }

    // .header-info // .header-info__btns .order {
    //     display: none;
    // }
}

.nav__container {
    padding: 25px 0 10px 0;
    // width: 804px;
    // margin: 0 auto;
}

.header__nav {
    border-bottom: 1px solid #000;
    // margin-bottom: 30px;

    .nav__list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 60px;
        margin-left: 25px;
    }

    .nav__item {
        // padding: 10px;
        position: relative;
        // margin-left: 15px;

        &:first-of-type::before {
            content: "";
            display: inline-flex;
            align-items: center;
            background-image: url(../../img/burger-menu.svg);
            position: absolute;
            width: 18px;
            height: 18px;
            padding: 2px;
            top: 9px;
            left: -24px;
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;
        }

        &::after {
            content: "";
            // display: inline-flex;
            align-items: center;
            background-color: rgba(101, 101, 101, 1);
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 25px;
            bottom: -40%;
            left: 47%;
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;
        }
    }

    .nav__link {
        display: inline-block;
        padding: 10px;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 700;
        line-height: 1.1;
        // letter-spacing: 0.7px;
    }


}



@media (max-width: 1200px) {
    .header__nav {
        display: none;
    }
}

.header__breadcrumbs {
    padding: 10px;

    .breadcrumbs__list {
        display: flex;
        max-width: 1020px;
        justify-content: center;
        margin: 0 auto;
        gap: 46px;
        flex-wrap: wrap;
    }

    .breadcrumbs__item {
        position: relative;
        text-align: center;
    }

    .breadcrumbs__item:not(:last-child)::after {
        content: "/";
        display: inline-block;
        position: absolute;
        right: -23px;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media (max-width: 1200px) {
    .header__breadcrumbs .breadcrumbs__list {
        gap: 0;
        // padding-left: 20px;
    }

    .header__breadcrumbs .breadcrumbs__item {
        padding-left: 35px;
    }
}


.svg {
    width: 20px;
    height: 20px;
}