//- Include used template for this page
extends ../../template/template

include ../../components/breadcrumbs/mixin.pug

//- Variables for include this in used template
block variables
    - let title       = 'LightOPT'
    - let description = 'Write description for this page here'
    - let keywords    = 'Write keywords for this page here'
    - let page        = 'index'

block breadcrumbs
    +breadcrumbs(["Главная", "Продукция", "Внутреннее освещение", "Люстры", "Потолочная люстра Тet-A-Tet A1704LM-5CC"])

//- block content
    //- h1 Главная
    br
    //- strong(style="color: red") Pug переменная page должна иметь тоже имя как и директория страницы
    br
    br
    include components/about/about