.universal-text
    .text 
        .text__title.text__title_italic курсив для основного текста
        span.text__subtitle.text__subtitle_italic 18 / italic
        p.text__text.text__text_italic В основе дизайна светильников этой серии лежит трехмерная ритмическая композиция из геометрических тел. На тонких пересекающихся между собой стержнях установлены цилиндрические плафоны, каждый из которых вращается на 340° в горизонтальной и 90° – в вертикальной плоскостях. 
        p.text__text.text__text_italic В основе дизайна светильников этой серии лежит трехмерная ритмическая композиция из геометрических тел. На тонких пересекающихся между собой стержнях установлены цилиндрические плафоны, каждый из которых вращается на 340° в горизонтальной и 90° – в вертикальной плоскостях. 
    .text.text-main 
        .text__title Основной текст
        span.text__subtitle.text__subtitle_margin 18 / reg
        .text__wrap
        p.text__text В основе дизайна светильников этой серии лежит трехмерная ритмическая композиция из геометрических тел. На тонких пересекающихся между собой стержнях установлены цилиндрические плафоны, каждый из которых вращается на 340° в горизонтальной и 90° – в вертикальной плоскостях. За счет безрамочной конструкции плафона и интегрированного LED-модуля обеспечивается яркое равномерное свечение по всей поверхности рассеивателя.
        .rectangle
        p.text__text На корпусе бра и настольной лампе установлены выключатели с функцией плавного диммера. #[br] выделение. В основе дизайна светильников этой серии лежит трехмерная ритмическая композиция из геометрических тел. На тонких пересекающихся между собой стержнях  
        span выделения в тексте:
        span.text__text_bold установлены цилиндрические / болд
        span.text__text_italic каждый из которых / италик
        span.text__text_italic.text__text_bold безрамочной конструкции  /болд италик
        span.text__text_italic.text__text_bold.text__text_red интегрированного / болд италик красный
        p.text__text LED-модуля обеспечивается яркое равномерное свечение по всей поверхности рассеивателя. На корпусе бра и настольной лампе установлены выключатели с функцией плавного диммера.
        span.text__text_margin Ссылка в основном тексте:
        p.text__text_blue выключатели с функцией плавного диммера.
        
        .text__text_cite
        .text__text Цитата: основной текст
            .text__text_cite-wrap
                img(src="img/cite.png")
                .text__text_wrap
                    span.text__subtitle.text__subtitle_italic 18 / италик 
                    p.text__text.text__text_italic В основе дизайна светильников этой серии лежит трехмерная ритмическая композиция из геометрических тел. На тонких
    