.text 
    .text__title.text__title_italic курсив для основного текста
    span.text__subtitle.text__subtitle_italic 18 / italic
    p.text__text.text__text_italic В основе дизайна светильников этой серии лежит трехмерная ритмическая композиция из геометрических тел. На тонких пересекающихся между собой стержнях установлены цилиндрические плафоны, каждый из которых вращается на 340° в горизонтальной и 90° – в вертикальной плоскостях. 
    p.text__text.text__text_italic В основе дизайна светильников этой серии лежит трехмерная ритмическая композиция из геометрических тел. На тонких пересекающихся между собой стержнях установлены цилиндрические плафоны, каждый из которых вращается на 340° в горизонтальной и 90° – в вертикальной плоскостях. 
.text 
    .text__title Основной текст
    span.text__subtitle 18 / reg
    .text__wrap
    p.text__text В основе дизайна светильников этой серии лежит трехмерная ритмическая композиция из геометрических тел. На тонких пересекающихся между собой стержнях установлены цилиндрические плафоны, каждый из которых вращается на 340° в горизонтальной и 90° – в вертикальной плоскостях. За счет безрамочной конструкции плафона и интегрированного LED-модуля обеспечивается яркое равномерное свечение по всей поверхности рассеивателя.
    .rectangle
    p.text__text В основе дизайна светильников этой серии лежит трехмерная ритмическая композиция из геометрических тел. На тонких пересекающихся между собой стержнях установлены цилиндрические плафоны, каждый из которых вращается на 340° в горизонтальной и 90° – в вертикальной плоскостях. 