section.pagination
    .container
        button.pagination-main-btn показать больше
        .pagination-btns
            button.pagination-btn.btn--white
                img(src="img/pagination-left.svg")
            button.pagination-btn.btn--white 1
            button.pagination-btn.btn--white 2
            button.pagination-btn.btn--white 3
            button.pagination-btn.btn--white 4
            button.pagination-btn.btn--white ...
            button.pagination-btn.btn--white 25
            button.pagination-btn.btn--white 
                img(src="img/pagination-right.svg")
