.catalog-filters
    .catalog-filters--mobile
        button.btn--white.btn-reset.sort__icon_hidden
        button.btn--white.btn-reset.catalog-filters__btn Фильтры
    .catalog-filter
        .catalog-filter__top
            h3.catalog-filter__title тип светильников
            span.catalog-filter__toogle +
        .catalog-filter__bottom
            ul.catalog-filter__list
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Новый
                        span.custom-checkbox__quantity 22
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Распродажа
                        span.custom-checkbox__quantity 30
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Под заказ
                        span.custom-checkbox__quantity 0
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text В наличии
                        span.custom-checkbox__quantity 31
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Участник TV передачи
                        span.custom-checkbox__quantity 1
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Есть 3D модель
                        span.custom-checkbox__quantity 2
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Регулировка по высоте
                        span.custom-checkbox__quantity 5
    .catalog-filter.catalog-filter--open    
        .catalog-filter__top
            h3.catalog-filter__title.catalog-filter__title--active цена
            span.catalog-filter__toogle —
        .catalog-filter__bottom
            ul.catalog-filter__list
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Новый
                        span.custom-checkbox__quantity 22
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Распродажа
                        span.custom-checkbox__quantity 30
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Под заказ
                        span.custom-checkbox__quantity 0
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text В наличии
                        span.custom-checkbox__quantity 31
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Участник TV передачи
                        span.custom-checkbox__quantity 1
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Есть 3D модель
                        span.custom-checkbox__quantity 2
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Регулировка по высоте
                        span.custom-checkbox__quantity 5
    .catalog-filter    
        .catalog-filter__top
            h3.catalog-filter__title Тип лампы
            span.catalog-filter__toogle +
        .catalog-filter__bottom
            ul.catalog-filter__list
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Новый
                        span.custom-checkbox__quantity 22
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Распродажа
                        span.custom-checkbox__quantity 30
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Под заказ
                        span.custom-checkbox__quantity 0
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text В наличии
                        span.custom-checkbox__quantity 31
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Участник TV передачи
                        span.custom-checkbox__quantity 1
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Есть 3D модель
                        span.custom-checkbox__quantity 2
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Регулировка по высоте
                        span.custom-checkbox__quantity 5
    .catalog-filter    
        .catalog-filter__top
            h3.catalog-filter__title Стиль светильника
            span.catalog-filter__toogle +
        .catalog-filter__bottom
            ul.catalog-filter__list
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Новый
                        span.custom-checkbox__quantity 22
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Распродажа
                        span.custom-checkbox__quantity 30
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Под заказ
                        span.custom-checkbox__quantity 0
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text В наличии
                        span.custom-checkbox__quantity 31
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Участник TV передачи
                        span.custom-checkbox__quantity 1
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Есть 3D модель
                        span.custom-checkbox__quantity 2
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Регулировка по высоте
                        span.custom-checkbox__quantity 5
    .catalog-filter  
        .catalog-filter__top
            h3.catalog-filter__title место применения
            span.catalog-filter__toogle +
        .catalog-filter__bottom
            ul.catalog-filter__list
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Новый
                        span.custom-checkbox__quantity 22
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Распродажа
                        span.custom-checkbox__quantity 30
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Под заказ
                        span.custom-checkbox__quantity 0
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text В наличии
                        span.custom-checkbox__quantity 31
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Участник TV передачи
                        span.custom-checkbox__quantity 1
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Есть 3D модель
                        span.custom-checkbox__quantity 2
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Регулировка по высоте
                        span.custom-checkbox__quantity 5
    .catalog-filter    
        .catalog-filter__top
            h3.catalog-filter__title пл. освещения, м2
            span.catalog-filter__toogle +
        .catalog-filter__bottom
            ul.catalog-filter__list
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Новый
                        span.custom-checkbox__quantity 22
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Распродажа
                        span.custom-checkbox__quantity 30
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Под заказ
                        span.custom-checkbox__quantity 0
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text В наличии
                        span.custom-checkbox__quantity 31
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Участник TV передачи
                        span.custom-checkbox__quantity 1
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Есть 3D модель
                        span.custom-checkbox__quantity 2
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Регулировка по высоте
                        span.custom-checkbox__quantity 5
    .catalog-filter    
        .catalog-filter__top
            h3.catalog-filter__title Тип цоколя
            span.catalog-filter__toogle +
        .catalog-filter__bottom
            ul.catalog-filter__list
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Новый
                        span.custom-checkbox__quantity 22
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Распродажа
                        span.custom-checkbox__quantity 30
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Под заказ
                        span.custom-checkbox__quantity 0
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text В наличии
                        span.custom-checkbox__quantity 31
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Участник TV передачи
                        span.custom-checkbox__quantity 1
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Есть 3D модель
                        span.custom-checkbox__quantity 2
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Регулировка по высоте
                        span.custom-checkbox__quantity 5
    .catalog-filter    
        .catalog-filter__top
            h3.catalog-filter__title цветовая температура
            span.catalog-filter__toogle +
        .catalog-filter__bottom
            ul.catalog-filter__list
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Новый
                        span.custom-checkbox__quantity 22
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Распродажа
                        span.custom-checkbox__quantity 30
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Под заказ
                        span.custom-checkbox__quantity 0
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text В наличии
                        span.custom-checkbox__quantity 31
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Участник TV передачи
                        span.custom-checkbox__quantity 1
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Есть 3D модель
                        span.custom-checkbox__quantity 2
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Регулировка по высоте
                        span.custom-checkbox__quantity 5
    .catalog-filter    
        .catalog-filter__top
            h3.catalog-filter__title IP
            span.catalog-filter__toogle +
        .catalog-filter__bottom
            ul.catalog-filter__list
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Новый
                        span.custom-checkbox__quantity 22
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Распродажа
                        span.custom-checkbox__quantity 30
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Под заказ
                        span.custom-checkbox__quantity 0
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text В наличии
                        span.custom-checkbox__quantity 31
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Участник TV передачи
                        span.custom-checkbox__quantity 1
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Есть 3D модель
                        span.custom-checkbox__quantity 2
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Регулировка по высоте
                        span.custom-checkbox__quantity 5
    .catalog-filter    
        .catalog-filter__top
            h3.catalog-filter__title цвет арматуры
            span.catalog-filter__toogle +
        .catalog-filter__bottom
            ul.catalog-filter__list
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Новый
                        span.custom-checkbox__quantity 22
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Распродажа
                        span.custom-checkbox__quantity 30
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Под заказ
                        span.custom-checkbox__quantity 0
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text В наличии
                        span.custom-checkbox__quantity 31
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Участник TV передачи
                        span.custom-checkbox__quantity 1
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Есть 3D модель
                        span.custom-checkbox__quantity 2
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Регулировка по высоте
                        span.custom-checkbox__quantity 5
    .catalog-filter    
        .catalog-filter__top
            h3.catalog-filter__title материал арматуры
            span.catalog-filter__toogle +
        .catalog-filter__bottom
            ul.catalog-filter__list
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Новый
                        span.custom-checkbox__quantity 22
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Распродажа
                        span.custom-checkbox__quantity 30
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Под заказ
                        span.custom-checkbox__quantity 0
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text В наличии
                        span.custom-checkbox__quantity 31
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Участник TV передачи
                        span.custom-checkbox__quantity 1
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Есть 3D модель
                        span.custom-checkbox__quantity 2
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Регулировка по высоте
                        span.custom-checkbox__quantity 5
    .catalog-filter    
        .catalog-filter__top
            h3.catalog-filter__title цвета
            span.catalog-filter__toogle +
        .catalog-filter__bottom
            ul.catalog-filter__list
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Новый
                        span.custom-checkbox__quantity 22
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Распродажа
                        span.custom-checkbox__quantity 30
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Под заказ
                        span.custom-checkbox__quantity 0
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text В наличии
                        span.custom-checkbox__quantity 31
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Участник TV передачи
                        span.custom-checkbox__quantity 1
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Есть 3D модель
                        span.custom-checkbox__quantity 2
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Регулировка по высоте
                        span.custom-checkbox__quantity 5
    .catalog-filter    
        .catalog-filter__top
            h3.catalog-filter__title коллекция
            span.catalog-filter__toogle +
        .catalog-filter__bottom
            ul.catalog-filter__list
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Новый
                        span.custom-checkbox__quantity 22
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Распродажа
                        span.custom-checkbox__quantity 30
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Под заказ
                        span.custom-checkbox__quantity 0
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text В наличии
                        span.custom-checkbox__quantity 31
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Участник TV передачи
                        span.custom-checkbox__quantity 1
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Есть 3D модель
                        span.custom-checkbox__quantity 2
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Регулировка по высоте
                        span.custom-checkbox__quantity 5
    .catalog-filter    
        .catalog-filter__top
            h3.catalog-filter__title материал плафона/декора
            span.catalog-filter__toogle +
        .catalog-filter__bottom
            ul.catalog-filter__list
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Новый
                        span.custom-checkbox__quantity 22
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Распродажа
                        span.custom-checkbox__quantity 30
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Под заказ
                        span.custom-checkbox__quantity 0
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text В наличии
                        span.custom-checkbox__quantity 31
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Участник TV передачи
                        span.custom-checkbox__quantity 1
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Есть 3D модель
                        span.custom-checkbox__quantity 2
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Регулировка по высоте
                        span.custom-checkbox__quantity 5
    .catalog-filter    
        .catalog-filter__top
            h3.catalog-filter__title длина светильника, см
            span.catalog-filter__toogle +
        .catalog-filter__bottom
            ul.catalog-filter__list
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Новый
                        span.custom-checkbox__quantity 22
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Распродажа
                        span.custom-checkbox__quantity 30
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Под заказ
                        span.custom-checkbox__quantity 0
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text В наличии
                        span.custom-checkbox__quantity 31
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Участник TV передачи
                        span.custom-checkbox__quantity 1
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Есть 3D модель
                        span.custom-checkbox__quantity 2
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Регулировка по высоте
                        span.custom-checkbox__quantity 5
    .catalog-filter    
        .catalog-filter__top
            h3.catalog-filter__title высота светильника, см
            span.catalog-filter__toogle +
        .catalog-filter__bottom
            ul.catalog-filter__list
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Новый
                        span.custom-checkbox__quantity 22
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Распродажа
                        span.custom-checkbox__quantity 30
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Под заказ
                        span.custom-checkbox__quantity 0
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text В наличии
                        span.custom-checkbox__quantity 31
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Участник TV передачи
                        span.custom-checkbox__quantity 1
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Есть 3D модель
                        span.custom-checkbox__quantity 2
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Регулировка по высоте
                        span.custom-checkbox__quantity 5
    .catalog-filter    
        .catalog-filter__top
            h3.catalog-filter__title ширина светильника, см
            span.catalog-filter__toogle +
        .catalog-filter__bottom
            ul.catalog-filter__list
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Новый
                        span.custom-checkbox__quantity 22
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Распродажа
                        span.custom-checkbox__quantity 30
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Под заказ
                        span.custom-checkbox__quantity 0
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text В наличии
                        span.custom-checkbox__quantity 31
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Участник TV передачи
                        span.custom-checkbox__quantity 1
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Есть 3D модель
                        span.custom-checkbox__quantity 2
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Регулировка по высоте
                        span.custom-checkbox__quantity 5
        
