.universal-table
    .universal-table__wrap
            //- .universal-table__top_sub
            h3.universal-table__title.universal-table__title--active Основные
            ul.universal-table__list
                li.universal-table__item
                    .universal-table__text_wrap
                        span.universal-table__text Артикул
                    span.universal-table__text_value A8889LM-8GY
                li.universal-table__item
                    .universal-table__text_wrap
                        span.universal-table__text Интерьер
                    span.universal-table__text_value Для гостиной, Для кафе, ресторанов, Для офиса
                li.universal-table__item
                    .universal-table__text_wrap
                        span.universal-table__text Бренд
                    span.universal-table__text_value Arte Lamp
                li.universal-table__item
                    .universal-table__text_wrap
                        button.btn-reset.universal-table__btn-info
                        span.universal-table__text Мощность
                    span.universal-table__text_value 40 W
                li.universal-table__item
                    .universal-table__text_wrap
                        button.btn-reset.universal-table__btn-info
                        span.universal-table__text Страна 
                    span.universal-table__text_value Италия
                li.universal-table__item
                    .universal-table__text_wrap
                        span.universal-table__text Патрон
                    span.universal-table__text_value Е14
                li.universal-table__item
                    .universal-table__text_wrap
                        span.universal-table__text Коллекция
                    span.universal-table__text_value MORRIS
                li.universal-table__item
                    .universal-table__text_wrap
                        span.universal-table__text Напряжение
                    span.universal-table__text_value 220 V
                li.universal-table__item
                    .universal-table__text_wrap
                        span.universal-table__text Материал плафона
                    span.universal-table__text_value Без плафона
                li.universal-table__item
                    .universal-table__text_wrap
                        span.universal-table__text Количество патронов
                    span.universal-table__text_value 8 шт
                li.universal-table__item
                    .universal-table__text_wrap
                        span.universal-table__text Материал арматуры
                    span.universal-table__text_value Акрил
                li.universal-table__item
                    .universal-table__text_wrap
                        span.universal-table__text Крепеж
                    span.universal-table__text_value На крюк
                li.universal-table__item
                    .universal-table__text_wrap
                        button.btn-reset.universal-table__btn-info
                        span.universal-table__text Мощность
                    span.universal-table__text_value 40 W
                li.universal-table__item
                    .universal-table__text_wrap
                        span.universal-table__text Площадь освещения
                    span.universal-table__text_value 24 м2
                li.universal-table__item
                    .universal-table__text_wrap
                        span.universal-table__text IP
                    span.universal-table__text_value 20
                li.universal-table__item
                    .universal-table__text_wrap
                        span.universal-table__text Тип лампы
                    span.universal-table__text_value Накаливания
                li.universal-table__item
                    .universal-table__text_wrap
                        span.universal-table__text Стиль лампы
                    span.universal-table__text_value Классический
                li.universal-table__item
                    .universal-table__text_wrap
                        span.universal-table__text Место применения
                    span.universal-table__text_value В квартиру, В комнату
                li.universal-table__item
                    .universal-table__text_wrap
                        span.universal-table__text Вид рассеивателя
                    span.universal-table__text_value Нет
                li.universal-table__item
                    .universal-table__text_wrap
                        span.universal-table__text Диммер
                    span.universal-table__text_value Да
            h3.universal-table__title.universal-table__title--active сертификаты
            ul.universal-table__list
                li.universal-table__item
                    .universal-table__text_wrap
                        span.universal-table__text.universal-table__text_blue Сертификат соответствия
