.universal-seo__wrap
    .universal-seo
        .universal-seo__name Для SEO 
        .universal-seo__title Потолочная люстра
        p.universal-seo__text Пример текста: В основе дизайна светильников этой серии лежит трехмерная ритмическая композиция из геометрических тел. На тонких пересекающихся между собой стержнях установлены цилиндрические плафоны, каждый из которых вращается на 340° в горизонтальной и 90° – в вертикальной плоскостях. За счет безрамочной конструкции плафона и интегрированного LED-модуля обеспечивается яркое равномерное свечение по всей поверхности рассеивателя.
        p.universal-seo__text На корпусе бра и настольной лампе установлены выключатели с функцией плавного диммера. выделение. В основе дизайна светильников этой серии лежит трехмерная ритмическая композиция из геометрических тел. На тонких пересекающихся между собой стержнях
        ul.universal-seo__list 
            li.universal-seo__item
                .universal-seo__text • Стиль
                .universal-seo__text-bold Morris
            li.universal-seo__item
                .universal-seo__text • Коллеция
                .universal-seo__text-bold Morris
            li.universal-seo__item
                .universal-seo__text • Стиль
                .universal-seo__text-bold A8564PL-5RB
            li.universal-seo__item
                .universal-seo__text • Патрон
                .universal-seo__text-bold Morris
        p.universal-seo__text.universal-seo__text-italic В основе дизайна светильников этой серии лежит трехмерная ритмическая композиция из геометрических тел. На тонких пересекающихся между собой стержнях установлены цилиндрические плафоны, каждый из которых вращается на 340° в горизонтальной и 90° – в вертикальной плоскостях.
        p.universal-seo__text.universal-seo__text-italic В основе дизайна светильников этой серии лежит трехмерная ритмическая композиция из геометрических тел. На тонких пересекающихся между собой стержнях установлены цилиндрические плафоны, каждый из которых вращается на 340° в горизонтальной и 90° – в вертикальной плоскостях.
        .universal-seo__red-block
        .universal-seo__title Потолочная люстра 26 / med  h4
        .universal-seo__subtitle-wrap
            h3.universal-seo__subtitle Основной текст
            h3.universal-seo__subtitle 16_20 / reg
        p.universal-seo__text В основе дизайна светильников этой серии лежит трехмерная ритмическая композиция из геометрических тел. На тонких пересекающихся между собой стержнях установлены цилиндрические плафоны, каждый из которых вращается на 340° в горизонтальной и 90° – в вертикальной плоскостях. За счет безрамочной конструкции плафона и интегрированного LED-модуля обеспечивается яркое равномерное свечение по всей поверхности рассеивателя.#[br]На корпусе бра и настольной лампе установлены выключатели с функцией плавного диммера. выделение. В основе дизайна светильников этой серии лежит трехмерная ритмическая композиция из геометрических тел. На тонких пересекающихся между собой стержнях
        .universal-seo__text-wrap
            .universal-seo__subtitle-wrap
                h3.universal-seo__subtitle выделения в тексте:
                span.universal-seo__text-bold установлены цилиндрические / болд
            span.universal-seo__text-italic каждый из которых / италик
            span.universal-seo__text-italic.universal-seo__text-bold безрамочной конструкции  /болд италик
            span.universal-seo__text-italic.universal-seo__text-bold.universal-seo__text-red интегрированного / болд италик красный
            p.universal-seo__text LED-модуля обеспечивается яркое равномерное свечение по всей поверхности рассеивателя. На корпусе бра и настольной лампе установлены выключатели с функцией плавного диммера.
            .universal-seo__subtitle-wrap
                h3.universal-seo__subtitle Ссылка в основном тексте:
                p.universal-seo__text-blue выключатели с функцией плавного диммера.
            h3.universal-seo__subtitle 16_20 Маркированный список из 2х позиций
            ul.universal-seo__list 
                li.universal-seo__item
                    .universal-seo__text • Стиль
                    .universal-seo__text-bold Morris
                li.universal-seo__item
                    .universal-seo__text • Коллеция
                    .universal-seo__text-bold Morris
                li.universal-seo__item
                    .universal-seo__text • Стиль
                    .universal-seo__text-bold A8564PL-5RB
                li.universal-seo__item
                    .universal-seo__text • Патрон
                    .universal-seo__text-bold Morris
            h3.universal-seo__subtitle 16_20 Маркированный список простой
            ul.universal-seo__list 
                li.universal-seo__item
                    .universal-seo__text • Стиль
                li.universal-seo__item
                    .universal-seo__text • Коллеция
                li.universal-seo__item
                    .universal-seo__text • Стиль
                li.universal-seo__item
                    .universal-seo__text • Патрон
            h3.universal-seo__subtitle 16_20 Нумерованный список
            ol.universal-seo__list 
                li.universal-seo__item
                    .universal-seo__text-bold 1.
                    .universal-seo__text Стиль
                li.universal-seo__item
                    .universal-seo__text-bold 1.
                    .universal-seo__text Коллеция
                li.universal-seo__item
                    .universal-seo__text-bold 1.
                    .universal-seo__text Стиль
                li.universal-seo__item
                    .universal-seo__text-bold 1.
                    .universal-seo__text Патрон
            .universal-seo__subtitle-wrap
                h3.universal-seo__subtitle.universal-seo__text-italic курсив для основнго текста
                h3.universal-seo__subtitle.universal-seo__text-italic 16_20 / italic
            p.universal-seo__text.universal-seo__text-italic В основе дизайна светильников этой серии лежит трехмерная ритмическая композиция из геометрических тел. На тонких пересекающихся между собой стержнях установлены цилиндрические плафоны, каждый из которых вращается на 340° в горизонтальной и 90° – в вертикальной плоскостях.
            p.universal-seo__text.universal-seo__text-italic В основе дизайна светильников этой серии лежит трехмерная ритмическая композиция из геометрических тел. На тонких пересекающихся между собой стержнях установлены цилиндрические плафоны, каждый из которых вращается на 340° в горизонтальной и 90° – в вертикальной плоскостях.





