.container.container__last-products
    section.last-products
        .last-products__header
            h3.last-products__title Последние просмотренные товары
            .last-products__btns
                img(src="img/arrow-left.svg").last-products__btn
                img(src="img/arrow-right.svg").last-products__btn
        ul.catalog-grid__list
            li.catalog-grid__item
                article.product
                    .product__image
                        img(src="img/luster-1.png")
                    .product__info
                        h3.product__title Люстра Аrte Lamp Rosaria
                        h4.product__subtitle A8564PL-5RB
                    .product__info-price
                        .product__price 88 000 ₽
                        .product__quantity В наличии: 110 шт.
            li.catalog-grid__item
                article.product
                    .product__image
                        img(src="img/luster-2.png")
                    .product__info
                        h3.product__title Люстра Аrte Lamp Rosaria
                        h4.product__subtitle A8564PL-5RB
                    .product__info-price
                        .product__price 88 000 ₽
                        .product__quantity В наличии: 110 шт.
            li.catalog-grid__item
                article.product
                    .product__image
                        img(src="img/luster-3.png")
                    .product__info
                        h3.product__title Люстра Аrte Lamp Rosaria
                        h4.product__subtitle A8564PL-5RB
                    .product__info-price
                        .product__price 88 000 ₽
                        .product__quantity В наличии: 110 шт.