section.catalog-page
    .container
        .catalog-page__content
            //- Соседствующие блоки должны суммарно составлять 100 - это 1 ряд
            .catalog-page__card.catalog-page__card_100
                .catalog-page__pic.catalog-page__pic_func-light
                .catalog-page__title
                    span Функциональное освещение
                    i
                .catalog-page__collapse
                    .catalog-page__inner
                        ul
                            li
                                .catalog-page__item-title
                                    span Системы освещения
                                    i
                                .catalog-page__collapse
                                    .catalog-page__inner
                                        ul
                                            li
                                                .catalog-page__item-title
                                                    span Однофазная трековая система
                                                    i
                                                .catalog-page__collapse
                                                    .catalog-page__inner
                                                        ul
                                                            li
                                                                a.catalog-page__item-title(href="#!") Магнитная трековая система OPTIMA
                                                            li
                                                                a.catalog-page__item-title(href="#!") Шинопровод текстильный Decorato
                                                            li
                                                                a.catalog-page__item-title(href="#!") Блоки питания Decorato
                                                            li
                                                                a.catalog-page__item-title(href="#!") Аксессуары
                                            li
                                                .catalog-page__item-title
                                                    span Трековая система на ремнях Decorato
                                                    i
                                            li
                                                a.catalog-page__item-title(href="#!")
                                                    span Тросовая система SKYCROSS

                            li
                                .catalog-page__item-title
                                    span Витринные светильники
                                    i
                            li
                                .catalog-page__item-title
                                    span Гибкий неон
                                    i
                            li
                                .catalog-page__item-title
                                    span Настенные светильники
                                    i
                            li
                                .catalog-page__item-title
                                    span Потолочные светильники
                                    i
                            li
                                .catalog-page__item-title
                                    span Алюминиевые профили
                                    i
                            li
                                a.catalog-page__item-title(href="#!")
                                    span Светодиодные ленты
            .catalog-page__card.catalog-page__card_50
                .catalog-page__pic.catalog-page__pic_street-light
                .catalog-page__title
                    span Уличное освещение
                    i
                .catalog-page__collapse
                    .catalog-page__inner
                        ul
                            li
                            li
            .catalog-page__card.catalog-page__card_50
                .catalog-page__pic.catalog-page__pic_light-source
                .catalog-page__title
                    span Источники
                    i
                .catalog-page__collapse
                    .catalog-page__inner
                        ul
                            li
                            li
            .catalog-page__card.catalog-page__card_25
                .catalog-page__pic.catalog-page__pic_light-manage
                .catalog-page__title
                    span Управление светом
                    i
                .catalog-page__collapse
                    .catalog-page__inner
                        ul
                            li
                            li
            .catalog-page__card.catalog-page__card_75
                .catalog-page__pic.catalog-page__pic_docor-light
                .catalog-page__title
                    span Декоративное освещение
                    i
                .catalog-page__collapse
                    .catalog-page__inner
                        ul
                            li
                            li
            .catalog-page__card.catalog-page__card_75
                .catalog-page__pic.catalog-page__pic_adapters
                .catalog-page__title
                    span Источники питания
                    i
                .catalog-page__collapse
                    .catalog-page__inner
                        ul
                            li
                            li
            .catalog-page__card.catalog-page__card_25
                .catalog-page__pic.catalog-page__pic_acc
                .catalog-page__title
                    span Аксессуары для светильников




            //- .catalog-page__card
            //-     .catalog-page__top
            //-         .catalog-page__card-wrap
            //-             .catalog-page__image 
            //-                 img(src="img/catalog_function.png")
            //-             .catalog-page__title Функциональное освещение
            //-         .catalog-page__menu_open
            //-     .catalog-page__drop 
            //-         ul.catalog-page__list 
            //-             li.catalog-page__item
            //-                 a.catalog-page__link Системы освещения
            //-             li.catalog-page__item
            //-                 a.catalog-page__link Витринные светильники
            //-             li.catalog-page__item
            //-                 a.catalog-page__link Гибкий неон
            //-             li.catalog-page__item
            //-                 a.catalog-page__link Настенные светильники
            //-             li.catalog-page__item
            //-                 a.catalog-page__link Потолочные светильники
            //-             li.catalog-page__item
            //-                 a.catalog-page__link Алюминиевые профили
            //-             li.catalog-page__item
            //-                 a.catalog-page__link Светодиодные ленты
            //- .catalog-page__card
            //-     .catalog-page__top
            //-         .catalog-page__card-wrap
            //-             .catalog-page__image 
            //-                 img(src="img/catalog_street.png")
            //-             .catalog-page__title Уличное освещение
            //-         .catalog-page__menu_open
            //-     .catalog-page__drop 
            //-         ul.catalog-page__list 
            //-             li.catalog-page__item
            //-                 a.catalog-page__link Ландшафтные светильники
            //-             li.catalog-page__item
            //-                 a.catalog-page__link Подвесные светильники
            //-             li.catalog-page__item
            //-                 a.catalog-page__link Фасадные светильники
            //-             li.catalog-page__item
            //-                 a.catalog-page__link Уличные настольные светильники
            //- .catalog-page__card
            //-     .catalog-page__top
            //-         .catalog-page__card-wrap
            //-             .catalog-page__image 
            //-                 img(src="img/catalog_function.png")
            //-             .catalog-page__title Источники света
            //-         .catalog-page__menu_open
            //-     .catalog-page__drop 
            //-         ul.catalog-page__list 
            //-             li.catalog-page__item
            //-                 a.catalog-page__link Светодиодные модули
            //- .catalog-page__card
            //-     .catalog-page__top
            //-         .catalog-page__card-wrap
            //-             .catalog-page__image 
            //-                 img(src="img/catalog_manage.png")
            //-             .catalog-page__title Управление светом
            //-         .catalog-page__menu_open
            //-     .catalog-page__drop 
            //-         ul.catalog-page__list 
            //-             li.catalog-page__item
            //-                 a.catalog-page__link Контроллеры
            //-             li.catalog-page__item
            //-                 a.catalog-page__link Панель управления
            //-             li.catalog-page__item
            //-                 a.catalog-page__link Пульт управления
            //-             li.catalog-page__item
            //-                 a.catalog-page__link Диммеры
            //-             li.catalog-page__item
            //-                 a.catalog-page__link Релейные модули
            //- .catalog-page__card
            //-     .catalog-page__top
            //-         .catalog-page__card-wrap
            //-             .catalog-page__image 
            //-                 img(src="img/catalog_decor.png")
            //-             .catalog-page__title Декоративное освещение
            //-         .catalog-page__menu_open
            //-     .catalog-page__drop 
            //-         ul.catalog-page__list 
            //-             li.catalog-page__item
            //-                 a.catalog-page__link Люстры
            //-             li.catalog-page__item
            //-                 a.catalog-page__link Светильники настенные
            //-             li.catalog-page__item
            //-                 a.catalog-page__link Светильники
            //-             li.catalog-page__item
            //-                 a.catalog-page__link Торшеры
            //-             li.catalog-page__item
            //-                 a.catalog-page__link Споты
            //-             li.catalog-page__item
            //-                 a.catalog-page__link Ванная комната
            //-             li.catalog-page__item
            //-                 a.catalog-page__link Настольные лампы
            //-             li.catalog-page__item
            //-                 a.catalog-page__link Ванная комната
            //-             li.catalog-page__item
            //-                 a.catalog-page__link Уличные настольные светильники
            //- .catalog-page__card
            //-     .catalog-page__top
            //-         .catalog-page__card-wrap
            //-             .catalog-page__image 
            //-                 img(src="img/catalog_source.png")
            //-             .catalog-page__title Источники питания
            //-         .catalog-page__menu_open
            //-     .catalog-page__drop 
            //-         ul.catalog-page__list 
            //-             li.catalog-page__item
            //-                 a.catalog-page__link Блоки питания 24В
            //-             li.catalog-page__item
            //-                 a.catalog-page__link Блоки питания 48В
            //- .catalog-page__card
            //-     .catalog-page__top
            //-         .catalog-page__card-wrap
            //-             .catalog-page__image 
            //-                 img(src="img/catalog_acc.png")
            //-             .catalog-page__title Аксессуары для светильников