section.universal
    .container
        .universal-content
            include ../universal-h/universal-h.pug
            include ../universal-list/universal-list.pug
            include ../universal-text/universal-text.pug