@import '../../scss/sass-variables';

// .container--breadcrumbs {
//     margin: 0 auto;
//     padding-top: 10px;
// }

.breadcrumbs {
    margin-top: 5px;
    padding: 5px 0 10px 0;
    font-weight: 400;

    @media (min-width: $lg) {
        padding: 29px 0;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 10px;
        row-gap: 0px;

        @media (min-width: $lg) {
            column-gap: 21px;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        column-gap: 10px;
        position: relative;
        text-align: center;

        @media (min-width: $lg) {
            column-gap: 20px;
        }

        &:has(a) {
            &::after {
                content: "/";
                position: relative;
                font-size: 15px;
            }
        }

        a,
        span {
            font-size: 14px;
            font-weight: 300;
            line-height: 20px;
            color: var(--color-black);
            transition: color .1s linear;

            @media (min-width: $sm) {
                font-size: 17px;
                line-height: 22px;
            }
        }

<<<<<<< HEAD:src/template/breadcrumbs/_style.scss
    &__link {
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        color: var(--color-black);
        transition: all 0.3s;

        &:hover {
            box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.75);
        }

        @media (min-width: $sm) {
            font-size: 17px;
            line-height: 22px;
=======
        a {
            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    color: var(--color-grey-sec)
                }
            }
>>>>>>> 25ebcba0771904cffc9d0ad1300d53d6c5079a0c:src/components/breadcrumbs/_style.scss
        }
    }
}