.card-content__bottom 
    .card-filters
        //- .catalog-filters--mobile
        //-     //- button.btn--white.btn-reset.sort__icon_hidden
        //-     button.btn--white.btn-reset.catalog-filters__btn Фильтры
        .card-filter.card-filter--open
            .card-filter__top
                .card-filter__toggle
                h3.card-filter__title.card-filter__title--active характеристики
                
            .card-filter__bottom
                .card-filter__top.card-filter__top--open
                    .card-filter__toggle
                    h3.card-filter__title.card-filter__title--active основные
                ul.card-filter__list
                    li.card-filter__item
                        span.card-filter__text Артикул
                        span.card-filter__text_value A8889LM-8GY
                    li.card-filter__item
                        span.card-filter__text Интерьер
                        span.card-filter__text_value Для гостиной, Для кафе, ресторанов, Для офиса
                    li.card-filter__item
                        span.card-filter__text Бренд
                        span.card-filter__text_value Arte Lamp
                    li.card-filter__item
                        span.card-filter__text Мощность
                        span.card-filter__text_value Для гостиной, Для кафе, ресторанов, Для офиса
                    li.card-filter__item
                        span.card-filter__text Страна изготовитель
                        span.card-filter__text_value Италия
                    li.card-filter__item
                        span.card-filter__text Патрон
                        span.card-filter__text_value Е14
                    li.card-filter__item
                        span.card-filter__text Коллекция
                        span.card-filter__text_value MORRIS
                    li.card-filter__item
                        span.card-filter__text Напряжение
                        span.card-filter__text_value 220 V
                    li.card-filter__item
                        span.card-filter__text Материал плафона
                        span.card-filter__text_value Без плафона
                    li.card-filter__item
                        span.card-filter__text Количество патронов
                        span.card-filter__text_value 8 шт
                    li.card-filter__item
                        span.card-filter__text Материал арматуры
                        span.card-filter__text_value Акрил
                    li.card-filter__item
                        span.card-filter__text Крепеж
                        span.card-filter__text_value На крюк
                    li.card-filter__item
                        span.card-filter__text Мощность Дублируется
                        span.card-filter__text_value 40 W
                    li.card-filter__item
                        span.card-filter__text Площадь освещения
                        span.card-filter__text_value 24 м2
                    li.card-filter__item
                        span.card-filter__text IP
                        span.card-filter__text_value 20
                    li.card-filter__item
                        span.card-filter__text Тип лампы
                        span.card-filter__text_value Накаливания
                    li.card-filter__item
                        span.card-filter__text Стиль лампы
                        span.card-filter__text_value Классический
                    li.card-filter__item
                        span.card-filter__text Место применения
                        span.card-filter__text_value В квартиру, В комнату
                    li.card-filter__item
                        span.card-filter__text Вид рассеивателя
                        span.card-filter__text_value Нет
                    li.card-filter__item
                        span.card-filter__text Диммер
                        span.card-filter__text_value Да
                .card-filter__top.card-filter__top--open
                    .card-filter__toggle
                    h3.card-filter__title.card-filter__title--active Материалы и цвета
                ul.card-filter__list
                    li.card-filter__item
                        span.card-filter__text Артикул
                        span.card-filter__text_value A8889LM-8GY
                    li.card-filter__item
                        span.card-filter__text Интерьер
                        span.card-filter__text_value Для гостиной, Для кафе, ресторанов, Для офиса
                    li.card-filter__item
                        span.card-filter__text Бренд
                        span.card-filter__text_value Arte Lamp
                    li.card-filter__item
                        span.card-filter__text Мощность
                        span.card-filter__text_value Для гостиной, Для кафе, ресторанов, Для офиса
                .card-filter__top.card-filter__top--open
                    .card-filter__toggle
                    h3.card-filter__title.card-filter__title--active Источник света
                ul.card-filter__list
                    li.card-filter__item
                        span.card-filter__text Артикул
                        span.card-filter__text_value A8889LM-8GY
                    li.card-filter__item
                        span.card-filter__text Интерьер
                        span.card-filter__text_value Для гостиной, Для кафе, ресторанов, Для офиса
                    li.card-filter__item
                        span.card-filter__text Бренд
                        span.card-filter__text_value Arte Lamp
                    li.card-filter__item
                        span.card-filter__text Мощность
                        span.card-filter__text_value Для гостиной, Для кафе, ресторанов, Для офиса
                .card-filter__top
                    .card-filter__toggle
                    h3.card-filter__title Габариты светильника
                ul.card-filter__list
                    li.card-filter__item
                        span.card-filter__text Артикул
                        span.card-filter__text_value A8889LM-8GY
                    li.card-filter__item
                        span.card-filter__text Интерьер
                        span.card-filter__text_value Для гостиной, Для кафе, ресторанов, Для офиса
                    li.card-filter__item
                        span.card-filter__text Бренд
                        span.card-filter__text_value Arte Lamp
                    li.card-filter__item
                        span.card-filter__text Мощность
                        span.card-filter__text_value Для гостиной, Для кафе, ресторанов, Для офиса
                .card-filter__top
                    .card-filter__toggle
                    h3.card-filter__title Дополнительно
                ul.card-filter__list
                    li.card-filter__item
                        span.card-filter__text Артикул
                        span.card-filter__text_value A8889LM-8GY
                    li.card-filter__item
                        span.card-filter__text Интерьер
                        span.card-filter__text_value Для гостиной, Для кафе, ресторанов, Для офиса
                    li.card-filter__item
                        span.card-filter__text Бренд
                        span.card-filter__text_value Arte Lamp
                    li.card-filter__item
                        span.card-filter__text Мощность
                        span.card-filter__text_value Для гостиной, Для кафе, ресторанов, Для офиса
        .card-filter.card-filter--open
            .card-filter__top
                .card-filter__toggle
                h3.card-content-filter__title Описание коллекции
                
            .card-filter__bottom
                .card-filter__top
                    .card-filter__toggle
                    h3.card-content-filter__title основные
                ul.card-filter__list
                    li.card-filter__item
                        span.card-filter__text Артикул
                        span.card-filter__text_value A8889LM-8GY
                    li.card-filter__item
                        span.card-filter__text Интерьер
                        span.card-filter__text_value Для гостиной, Для кафе, ресторанов, Для офиса
        .card-filter.card-filter--open
            .card-filter__top
                .card-filter__toggle
                h3.card-content-filter__title Еще из той же коллекции
                
            .card-filter__bottom
                .card-filter__top
                    .card-filter__toggle
                    h3.card-content-filter__title основные
                ul.card-filter__list
                    li.card-filter__item
                        span.card-filter__text Артикул
                        span.card-filter__text_value A8889LM-8GY
                    li.card-filter__item
                        span.card-filter__text Интерьер
                        span.card-filter__text_value Для гостиной, Для кафе, ресторанов, Для офиса
        .card-filter.card-filter--open
            .card-filter__top
                .card-filter__toggle
                h3.card-content-filter__title Лампочки
                
            .card-filter__bottom
                .card-filter__top
                    .card-filter__toggle
                    h3.card-content-filter__title основные
                ul.card-filter__list
                    li.card-filter__item
                        span.card-filter__text Артикул
                        span.card-filter__text_value A8889LM-8GY
                    li.card-filter__item
                        span.card-filter__text Интерьер
                        span.card-filter__text_value Для гостиной, Для кафе, ресторанов, Для офиса

                    