section.breadcrumbs
    .container 
        ul.breadcrumbs__list 
            li.breadcrumbs__item
                a.breadcrumbs__link(href="#!") Главная
            li.breadcrumbs__item
                a.breadcrumbs__link(href="#!") Продукция
            li.breadcrumbs__item
                a.breadcrumbs__link(href="#!") Внутреннее освещение
            li.breadcrumbs__item
                a.breadcrumbs__link(href="#!") Люстры
            li.breadcrumbs__item
                a.breadcrumbs__link.breadcrumbs__link--active Потолочная люстра Тet-A-Tet A1704LM-5CC