.universal-img
    .universal-img__text В основе дизайна светильников этой серии лежит трехмерная ритмическая композиция из геометрических тел. На тонких пересекающихся между собой стержнях установлены цилиндрические плафоны, каждый из которых вращается на 340° в горизонтальной и 90° – в вертикальной плоскостях. За счет безрамочной конструкции плафона и интегрированного LED-модуля обеспечивается яркое равномерное свечение по всей поверхности рассеивателя. На корпусе бра и настольной лампе установлены выключатели с функцией плавного диммера.В основе дизайна светильников этой серии лежит трехмерная
    .universal-img__img 
        img(src="img/luster-4.png")
