:root {
    --base-transition: all .1s linear;
    --synth-transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
    --synth-timing-func: cubic-bezier(0.16, 1, 0.3, 1);

    --font-family-secondary: 'Open Sans', sans-serif;
    --font-family: 'GothamPro', sans-serif;
    --color-font-primary: #000;
    --color-font-secondary: #787878;
    --color-black: #000;
    --color-white: #fff;
    --color-red: #f00;
    --color-grey: #eee;
    --color-grey-sec: #b1b1b1;
    --color-lite: #f1f1f1;
    --color-table: #eee;
}