.card-top
    .card-top__left
        .card-slider
            .card-slider__wrapper
                .card-slider__body
                    .card-slider__images
                        .card-slider__image.card-slider__image_active
                            img(src="img/slider-1.jpg")
                        .card-slider__image
                            img(src="img/slider-2.jpg")
                        .card-slider__image
                            img(src="img/slider-1.jpg")
                        .card-slider__image
                            img(src="img/slider-2.jpg")
                        .card-slider__image
                            img(src="img/slider-1.jpg")
                        .card-slider__image
                            img(src="img/slider-2.jpg")
                        .card-slider__image
                            img(src="img/slider-1.jpg")

            .card-slider__main
                img(src="img/slider-1.jpg")
    .card-top__right
        .card-top__info
            .card-top__btns
                ul.card-top__btns_list
                    li.card-top__btns_item
                        button.btn-reset.card-top__btn_share
                    li.card-top__btns_item
                        button.btn-reset.card-top__btn_favorite
            .card-top__price
                .card-top__price_new
                    .card-top__price_title Рекомендуемая розничная цена:
                    .card-top__price_value 5 760 ₽
                .card-top__price_old
                    .card-top__price_title Ваша цена:
                    .card-top__price_value 6 780 ₽
        .card-top__quantity 
            .card-top__quantity_changer
                button.btn-reset.btn--white.changer__btn.changer__btn_minus —
                input(type="text", min="1", maxlength="4", value="200").changer__input
                button.btn-reset.btn--white.changer__btn.changer__btn_plus +
            .card-top__quantity_value 
                span 234 шт в наличии
        .card-top__order
            .custom-select
                .custom-select__top.card-select__top
                    .custom-select__value Заказ № 54325678
                    .custom-select_open
                .custom-select__drop
                    ul.custom-select__list 
                        li.custom-select__item.custom-select__item--sort
                            .custom-select__option.custom-select__option--sort Заказ № 54325678
                        li.custom-select__item.custom-select__item--sort
                            .custom-select__option.custom-select__option--sort Заказ № 2_54325678
                        li.custom-select__item.custom-select__item--sort
                            .custom-select__option.custom-select__option--sort Заказ № 3_54325678
                        li.custom-select__item.custom-select__item--sort
                            .custom-select__option.custom-select__option--sort Заказ № 4_54325678
            button.btn-reset.default-btn.card-top__btn_order Добавить в заказ
        .card-top__additional-info
            .card-top__additional-info_wrap
                button.btn-reset.card-top__icon.card-top__doc
                .card-top__doc_title Документация
            .card-top__additional-info_wrap
                .card-top__icon
                    button.btn-reset.card-top__icon.card-top__rar
                .card-top__cert_title Упаковка товара
          


                    

