//- Include used template for this page
extends ../../template/template

include ../../components/breadcrumbs/mixin.pug

//- Variables for include this in used template
block variables
    - let title       = 'LightOPT'
    - let description = 'Write description for this page here'
    - let keywords    = 'Write keywords for this page here'
    - let page        = 'universal'

block breadcrumbs
    +breadcrumbs(["Главная", "Продукция"])

block content
    include components/universal/universal.pug