.catalog-filters
    //- .catalog-filters--mobile
    //-     //- button.btn--white.btn-reset.sort__icon_hidden
    //-     button.btn--white.btn-reset.catalog-filters__btn Фильтры
    .catalog-filter
        .catalog-filter__top
            h3.catalog-filter__title тип светильников
            .catalog-filter__toggle
        .catalog-filter__bottom
            .range
                .range-slider
                    span.range-selected
            .range-input
                input(type="range" min="0" max="1000" value="300" step="10").min
                input(type="range" min="0" max="1000" value="700" step="10").max
            .range-price
                input(type="number" name="min" value="300")
                input(type="number" name="max" value="700")
            ul.catalog-filter__list
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Новый
                        span.custom-checkbox__quantity 22
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Распродажа
                        span.custom-checkbox__quantity 30
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Под заказ
                        span.custom-checkbox__quantity 0
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text В наличии
                        span.custom-checkbox__quantity 31
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Участник TV передачи
                        span.custom-checkbox__quantity 1
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Есть 3D модель
                        span.custom-checkbox__quantity 2
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Регулировка по высоте
                        span.custom-checkbox__quantity 5
    .catalog-filter.catalog-filter--open    
        .catalog-filter__top
            h3.catalog-filter__title.catalog-filter__title--active цена
            .catalog-filter__toggle
        .catalog-filter__bottom
            .range
                .range-slider
                    span.range-selected
            .range-input
                input(type="range" min="0" max="1000" value="300" step="10").min
                input(type="range" min="0" max="1000" value="700" step="10").max
            .range-price
                input(type="number" name="min" value="300")
                input(type="number" name="max" value="700")
            ul.catalog-filter__list
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        .badge.badge--black new
                        span.custom-checkbox__text Новый
                        span.custom-checkbox__quantity 22
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        .badge.badge--red sale
                        span.custom-checkbox__text Распродажа
                        span.custom-checkbox__quantity 30
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Под заказ
                        span.custom-checkbox__quantity 0
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text В наличии
                        span.custom-checkbox__quantity 31
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Участник TV передачи
                        span.custom-checkbox__quantity 1
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Есть 3D модель
                        span.custom-checkbox__quantity 2
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Регулировка по высоте
                        span.custom-checkbox__quantity 5
    .catalog-filter    
        .catalog-filter__top
            h3.catalog-filter__title Тип лампы
            .catalog-filter__toggle
        .catalog-filter__bottom
            ul.catalog-filter__list
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Новый
                        span.custom-checkbox__quantity 22
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Распродажа
                        span.custom-checkbox__quantity 30
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Под заказ
                        span.custom-checkbox__quantity 0
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text В наличии
                        span.custom-checkbox__quantity 31
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Участник TV передачи
                        span.custom-checkbox__quantity 1
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Есть 3D модель
                        span.custom-checkbox__quantity 2
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Регулировка по высоте
                        span.custom-checkbox__quantity 5
    .catalog-filter    
        .catalog-filter__top
            h3.catalog-filter__title Стиль светильника
            .catalog-filter__toggle
        .catalog-filter__bottom
            ul.catalog-filter__list
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Новый
                        span.custom-checkbox__quantity 22
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Распродажа
                        span.custom-checkbox__quantity 30
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Под заказ
                        span.custom-checkbox__quantity 0
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text В наличии
                        span.custom-checkbox__quantity 31
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Участник TV передачи
                        span.custom-checkbox__quantity 1
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Есть 3D модель
                        span.custom-checkbox__quantity 2
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Регулировка по высоте
                        span.custom-checkbox__quantity 5
    .catalog-filter  
        .catalog-filter__top
            h3.catalog-filter__title место применения
            .catalog-filter__toggle
        .catalog-filter__bottom
            ul.catalog-filter__list
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Новый
                        span.custom-checkbox__quantity 22
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Распродажа
                        span.custom-checkbox__quantity 30
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Под заказ
                        span.custom-checkbox__quantity 0
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text В наличии
                        span.custom-checkbox__quantity 31
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Участник TV передачи
                        span.custom-checkbox__quantity 1
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Есть 3D модель
                        span.custom-checkbox__quantity 2
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Регулировка по высоте
                        span.custom-checkbox__quantity 5
    .catalog-filter    
        .catalog-filter__top
            h3.catalog-filter__title пл. освещения, м2
            .catalog-filter__toggle
        .catalog-filter__bottom
            ul.catalog-filter__list
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Новый
                        span.custom-checkbox__quantity 22
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Распродажа
                        span.custom-checkbox__quantity 30
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Под заказ
                        span.custom-checkbox__quantity 0
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text В наличии
                        span.custom-checkbox__quantity 31
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Участник TV передачи
                        span.custom-checkbox__quantity 1
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Есть 3D модель
                        span.custom-checkbox__quantity 2
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Регулировка по высоте
                        span.custom-checkbox__quantity 5
    .catalog-filter    
        .catalog-filter__top
            h3.catalog-filter__title Тип цоколя
            .catalog-filter__toggle
        .catalog-filter__bottom
            ul.catalog-filter__list
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Новый
                        span.custom-checkbox__quantity 22
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Распродажа
                        span.custom-checkbox__quantity 30
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Под заказ
                        span.custom-checkbox__quantity 0
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text В наличии
                        span.custom-checkbox__quantity 31
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Участник TV передачи
                        span.custom-checkbox__quantity 1
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Есть 3D модель
                        span.custom-checkbox__quantity 2
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Регулировка по высоте
                        span.custom-checkbox__quantity 5
    .catalog-filter    
        .catalog-filter__top
            h3.catalog-filter__title цветовая температура
            .catalog-filter__toggle
        .catalog-filter__bottom
            ul.catalog-filter__list
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Новый
                        span.custom-checkbox__quantity 22
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Распродажа
                        span.custom-checkbox__quantity 30
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Под заказ
                        span.custom-checkbox__quantity 0
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text В наличии
                        span.custom-checkbox__quantity 31
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Участник TV передачи
                        span.custom-checkbox__quantity 1
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Есть 3D модель
                        span.custom-checkbox__quantity 2
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Регулировка по высоте
                        span.custom-checkbox__quantity 5
    .catalog-filter    
        .catalog-filter__top
            h3.catalog-filter__title IP
            .catalog-filter__toggle
        .catalog-filter__bottom
            ul.catalog-filter__list
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Новый
                        span.custom-checkbox__quantity 22
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Распродажа
                        span.custom-checkbox__quantity 30
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Под заказ
                        span.custom-checkbox__quantity 0
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text В наличии
                        span.custom-checkbox__quantity 31
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Участник TV передачи
                        span.custom-checkbox__quantity 1
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Есть 3D модель
                        span.custom-checkbox__quantity 2
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Регулировка по высоте
                        span.custom-checkbox__quantity 5
    .catalog-filter    
        .catalog-filter__top
            h3.catalog-filter__title цвет арматуры
            .catalog-filter__toggle
        .catalog-filter__bottom
            ul.catalog-filter__list
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Новый
                        span.custom-checkbox__quantity 22
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Распродажа
                        span.custom-checkbox__quantity 30
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Под заказ
                        span.custom-checkbox__quantity 0
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text В наличии
                        span.custom-checkbox__quantity 31
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Участник TV передачи
                        span.custom-checkbox__quantity 1
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Есть 3D модель
                        span.custom-checkbox__quantity 2
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Регулировка по высоте
                        span.custom-checkbox__quantity 5
    .catalog-filter    
        .catalog-filter__top
            h3.catalog-filter__title материал арматуры
            .catalog-filter__toggle
        .catalog-filter__bottom
            ul.catalog-filter__list
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Новый
                        span.custom-checkbox__quantity 22
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Распродажа
                        span.custom-checkbox__quantity 30
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Под заказ
                        span.custom-checkbox__quantity 0
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text В наличии
                        span.custom-checkbox__quantity 31
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Участник TV передачи
                        span.custom-checkbox__quantity 1
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Есть 3D модель
                        span.custom-checkbox__quantity 2
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Регулировка по высоте
                        span.custom-checkbox__quantity 5
    .catalog-filter    
        .catalog-filter__top
            h3.catalog-filter__title цвета
            .catalog-filter__toggle
        .catalog-filter__bottom
            ul.catalog-filter__list
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Новый
                        span.custom-checkbox__quantity 22
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Распродажа
                        span.custom-checkbox__quantity 30
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Под заказ
                        span.custom-checkbox__quantity 0
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text В наличии
                        span.custom-checkbox__quantity 31
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Участник TV передачи
                        span.custom-checkbox__quantity 1
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Есть 3D модель
                        span.custom-checkbox__quantity 2
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Регулировка по высоте
                        span.custom-checkbox__quantity 5
    .catalog-filter    
        .catalog-filter__top
            h3.catalog-filter__title коллекция
            .catalog-filter__toggle
        .catalog-filter__bottom
            ul.catalog-filter__list
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Новый
                        span.custom-checkbox__quantity 22
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Распродажа
                        span.custom-checkbox__quantity 30
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Под заказ
                        span.custom-checkbox__quantity 0
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text В наличии
                        span.custom-checkbox__quantity 31
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Участник TV передачи
                        span.custom-checkbox__quantity 1
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Есть 3D модель
                        span.custom-checkbox__quantity 2
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Регулировка по высоте
                        span.custom-checkbox__quantity 5
    .catalog-filter    
        .catalog-filter__top
            h3.catalog-filter__title материал плафона/декора
            .catalog-filter__toggle
        .catalog-filter__bottom
            ul.catalog-filter__list
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Новый
                        span.custom-checkbox__quantity 22
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Распродажа
                        span.custom-checkbox__quantity 30
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Под заказ
                        span.custom-checkbox__quantity 0
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text В наличии
                        span.custom-checkbox__quantity 31
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Участник TV передачи
                        span.custom-checkbox__quantity 1
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Есть 3D модель
                        span.custom-checkbox__quantity 2
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Регулировка по высоте
                        span.custom-checkbox__quantity 5
    .catalog-filter    
        .catalog-filter__top
            h3.catalog-filter__title длина светильника, см
            .catalog-filter__toggle
        .catalog-filter__bottom
            ul.catalog-filter__list
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Новый
                        span.custom-checkbox__quantity 22
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Распродажа
                        span.custom-checkbox__quantity 30
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Под заказ
                        span.custom-checkbox__quantity 0
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text В наличии
                        span.custom-checkbox__quantity 31
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Участник TV передачи
                        span.custom-checkbox__quantity 1
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Есть 3D модель
                        span.custom-checkbox__quantity 2
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Регулировка по высоте
                        span.custom-checkbox__quantity 5
    .catalog-filter    
        .catalog-filter__top
            h3.catalog-filter__title высота светильника, см
            .catalog-filter__toggle
        .catalog-filter__bottom
            ul.catalog-filter__list
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Новый
                        span.custom-checkbox__quantity 22
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Распродажа
                        span.custom-checkbox__quantity 30
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Под заказ
                        span.custom-checkbox__quantity 0
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text В наличии
                        span.custom-checkbox__quantity 31
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Участник TV передачи
                        span.custom-checkbox__quantity 1
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Есть 3D модель
                        span.custom-checkbox__quantity 2
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Регулировка по высоте
                        span.custom-checkbox__quantity 5
    .catalog-filter    
        .catalog-filter__top
            h3.catalog-filter__title ширина светильника, см
            .catalog-filter__toggle
        .catalog-filter__bottom
            ul.catalog-filter__list
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Новый
                        span.custom-checkbox__quantity 22
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Распродажа
                        span.custom-checkbox__quantity 30
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Под заказ
                        span.custom-checkbox__quantity 0
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text В наличии
                        span.custom-checkbox__quantity 31
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Участник TV передачи
                        span.custom-checkbox__quantity 1
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Есть 3D модель
                        span.custom-checkbox__quantity 2
                li.catalog-filter__item
                    label.custom-checkbox
                        input.custom-checkbox__input(type="checkbox")
                        span.custom-checkbox__text Регулировка по высоте
                        span.custom-checkbox__quantity 5
        
